* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: system-ui;
    background: linear-gradient(
        to right,
        rgba(2, 82, 89, 0.9),
        rgba(255, 255, 255, 0)
    ), url("ocean.jpg");
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.form{
    width: 100%;
}
h2{
    text-align: center;
    color: black;
}
form{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 600px;
    padding: 15px 40px 40px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    margin: 4% auto;
    align-items: center;
    justify-content: center;
}
label{
    display: block;
    margin-bottom: 5px;
}
label i{
     color: #999;
     font-size: 80%;
}
input,select{
    border: 1px soliid #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #a9bae64a;
}
.box{
    padding-bottom: 10px;
    width: 500px;
    border-radius: 25%;
}
.form-inline{
    border: 1px solid #ccc;
    padding: 8px 10px 4px;
    border-radius: 2px;
}
.form-inline label,.form-inline{
    display: inline-block;
    width: auto;
    padding-right: 15px;
}
.error{
    color: red;
    font-size:98% ;
}
input[type="text"]{
    outline: none;
}
input[type="submit"]{
    font-size: 110%;
    font-weight: 200;
    background-color: #efbe58;
    border-color: #efbe58;
    box-shadow: 0 3px 0 #bd432e;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background:#bd432e;
    border-color: #bd432e;
}
.input-1{
    background-image: url(../images/check.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    border: 1px solid #01cc40;
}
.input-2{
    background-image: url(../images/check.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    border: 1px solid red;
}
.input-3{
    border: 1px solid #01cc40;
}
.input-4{
    border: 1px solid red;
}
select{
    outline: none!important;
}